* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

header {
    width: 1020px;
    height: 94px;
    margin: 0 auto;
    z-index: 0;
    
}

.header_main {
    width: 1020px;
    height: 94px;
    background-color: #2d303a;
    position: fixed;
    z-index: 1;
}

.logo {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 40px;
}

.singolo_logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 6.32px;
    padding-top: 2px;
}

.singolo_star {
    margin-top: -12px;
    color: #f06c64;
    font-size: 18px;
    padding: 0;
}

nav {
    width: 960px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 10px;
}

ul li {
    float: left;  
}

.header_wrapper {
    position: absolute;
    top: 40px;
    left: 595px;
}

.menu_item {
    margin-top: -2px;
}

.menu_item a {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 6.32px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0em;
    padding: 0 15px;
    
}

.menu_item a:hover {
    color: #f06c64;
}

.slider {
	width: 1020px;
	height: 600px;
    margin: auto;
}

.slide {
	width: 1020px;
	height: 600px;
    position: relative;
    background-color: #f06c64;
}

.slider_nav_left {
    position: absolute;
    top: 285px;
    left: 42px;
    cursor: pointer;
}

.slider_nav_right {
    position: absolute;
    top: 285px;
    right: 40px;
    cursor: pointer;
}

.phone1 {
    position: absolute;
    top: 55px;
    left: 112px;
}

.phone2 {
    position: absolute;
    top: 175px;
    right: 110px;
}

.services {
    width: 1020px;
    height: 496px;
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
    box-shadow: 0 6px 0px 0px #ffffff;
}

.services_description {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.services_description p {
    padding-top: 27px;
    color: #767e9e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

h1 {
    color: #666d89;
    font-family: 'Open Sans', sans-serif ;
    font-size: 30px;
    line-height: 17.86px;
    letter-spacing: -0.033em;
}

.services_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 2em;
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 40px;
}

.services_wrapper .services_item {
    display: flex;
    height: 90px;
    padding-top: 20px;
}

.image_wrapper {
    text-align: center;
}

.services_descr {
    margin-left: 20px;
}

.services_descr h3 {
    color: #666d89;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 17.86px;
    letter-spacing: -0.025em;
}

.services_descr .item_descr {
    color: #767e9e;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 21.56px;
    margin-top: 10px;
}