* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

header {
    width: 1020px;
    height: 94px;
    margin: 0 auto;
    z-index: 0;
    
}

.header_main {
    width: 1020px;
    height: 94px;
    background-color: #2d303a;
    position: fixed;
    z-index: 1;
}

.logo {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 40px;
}

.singolo_logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 6.32px;
    padding-top: 2px;
}

.singolo_star {
    margin-top: -12px;
    color: #f06c64;
    font-size: 18px;
    padding: 0;
}

nav {
    width: 960px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 10px;
}

ul li {
    float: left;  
}

.header_wrapper {
    position: absolute;
    top: 40px;
    left: 595px;
}

.menu_item {
    margin-top: -2px;
}

.menu_item a {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 6.32px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0em;
    padding: 0 15px;
    
}

.menu_item a:hover {
    color: #f06c64;
}

.slider {
	width: 1020px;
	height: 600px;
    margin: auto;
}

.slide {
	width: 1020px;
	height: 600px;
    position: relative;
    background-color: #f06c64;
}

.slider_nav_left {
    position: absolute;
    top: 285px;
    left: 42px;
    cursor: pointer;
}

.slider_nav_right {
    position: absolute;
    top: 285px;
    right: 40px;
    cursor: pointer;
}

.phone1 {
    position: absolute;
    top: 55px;
    left: 112px;
}

.phone2 {
    position: absolute;
    top: 175px;
    right: 110px;
}

.services {
    width: 1020px;
    height: 496px;
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
    box-shadow: 0 6px 0px 0px #ffffff;
}

.services_description {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.services_description p {
    padding-top: 27px;
    color: #767e9e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

h1 {
    color: #666d89;
    font-family: 'Open Sans', sans-serif ;
    font-size: 30px;
    line-height: 17.86px;
    letter-spacing: -0.033em;
}

.services_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 2em;
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 40px;
}

.services_wrapper .services_item {
    display: flex;
    height: 90px;
    padding-top: 20px;
}

.image_wrapper {
    text-align: center;
}

.services_descr {
    margin-left: 20px;
}

.services_descr h3 {
    color: #666d89;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 17.86px;
    letter-spacing: -0.025em;
}

.services_descr .item_descr {
    color: #767e9e;
    font-family: 'Open Sans';
    font-size: 11px;
    line-height: 21.56px;
    margin-top: 10px;
}

.portfolio {
    height: 870px;
    background-color: #000;
}
  
.portfolio_header {
    padding-top: 70px;
    padding-left: 40px;
}
  
.portfolio_header h2 {
    color: #666d89;
    font-family: "Open Sans";
    font-size: 28px;
    line-height: 17.86px;
}
  
.portfolio_header .portfolio_descr {
    color: #767e9e;
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 30px;
    margin-top: 27px;
    letter-spacing: -0.024em;
}
  
.portfolio_links {
    margin-top: 10px;
}
  
.portfolio_links a {
    color: #767e9e;
    font-family: "Open Sans";
    font-size: 11px;
    line-height: 21.56px;
    text-decoration: none;
    border: solid 1px;
    border-radius: 6px;
    padding: 3px 7px 3px 7px;
    margin-right: 5px;
}
  
.portfolio_links a:hover {
    color: #dedede;
}
  
.portfolio_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}
  
.portfolio_gallery img {
    margin: 0 auto;
    margin-top: 20px;
}
  
.about {
    height: 730px;
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
}
  
.about_header {
    padding-top: 68px;
    margin-left: 40px;
    margin-right: 30px;
}
  
.about_header h2 {
    color: #666d89;
    font-family: "Open Sans";
    font-size: 30px;
    line-height: 17.86px;
    letter-spacing: -0.05em;
}
  
.about_header .about_descr {
    margin-top: 29px;
    color: #767e9e;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1px;
}
  
.about_contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 45px 19px 0 40px;
}
  
.about_contacts h3 {
    color: #666d89;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 17.86px;
    margin-top: 12px;
    letter-spacing: -0.5px;
}
  
.about_contacts .about_contacts_descr {
    width: 300px;
    color: #767e9e;
    font-family: "Open Sans";
    font-size: 11px;
    line-height: 21.56px;
    margin-top: 10px;
}
  
.about_contacts .about_contacts_links {
    margin-top: 25px;
    letter-spacing: 4px;
}
  
.about_contacts .about_contacts_links a {
    text-decoration: none;
}

.form {
    height: 650px;
    background-color: #f06c64;
}

.form_header {
    padding-top: 67px;
    padding-left: 40px;
}

.form_header h2 {
    color: #f0d8d9;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    line-height: 17.86px;
    letter-spacing: -1.5px;
}

.form_descr {
    color: #f0d8d9;
    padding-top: 29px;
    padding-right: 40px;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}

.contact-wrapper {
    display: flex;
    padding-top: 42px;
}

.contact-form {
    width: 66%;
    height: 410px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 40px;
}

.contact-form input {
    height: 37px;
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-left: 10px;
}

.contact-form input[type=submit] {
    color: #f48c8f;
    text-transform: uppercase;
}

::placeholder {
    color: #f48c8f;
    opacity: 1;
}

.contact-form textarea {
    height: 200px;
    resize: none;
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: 0.025em;
    padding-left: 10px;
    padding-top: 13px;
}

.contact-info {
    width: 34%;
    padding-left: 15px;
    padding-right: 40px;
    font-family: 'Open Sans';
}

.contact-info h4 {
    color: #f0d8d9;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 17.86px;
}

.contact-info p{
    padding-top: 0.85em;
    color: #f0d8d9;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
}

.contacts {
    padding-top: 1em;
    height: 3em;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
}

.contact a{
    display: block;
    margin-right: 0.5em;
}

.contact a img {
    padding-top: 15px;
}

footer {
    width: 1020px;
    height: 80px;
    margin: 0 auto;
    background-color: #2d303a;
}

.copyright_descr {
    display: inline-block;
    width: 92px;
    height: 11px;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #666d89;
    padding-top: 33px;
    padding-left: 42px;
}

.social_links {
    position: absolute;
    padding-left: 848px;
    margin-top: -27px;
}